@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>

        @if (Job.Worker == null)
        {
            //Why is this a button class? It's clickable but does nothing. Only the link should be clickable
            <p>This job is unclaimed.</p>

            <h4 class="show-claim-page" class="claim-job" id="@Job.JobId"> Claim this job</h4>
            <div id = "claim-result-@Job.JobId"></div >
        }
        else
        {
            //Why is this a button class? It's clickable but does nothing.
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

            //Add Active status and completed status here

        }
    </ul>


    <hr />
}

