
@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Jobs in your queue:</h3>

        @foreach (var Job in Model.Jobs)
        {
            if (@Job.Pending == false && @Job.Completed == false)
            {
                <div class="activate-@Job.JobId">
                    <h5>@Job.Title</h5>
                    <button class="job-activate" value="@Job.JobId">Activate job</button>
                </div>
            }
        }

        
        <h3>Jobs you are currently working on:</h3>

        <strong><div class="activate-result"></div></strong>

        @foreach (var Job in Model.Jobs)
        {
            if (@Job.Pending == true)
            {
                <h5>@Job.Title</h5>
                <button class="job-complete" value="@Job.JobId">Complete job</button>
            }
        }

        <h3>Jobs you have completed:</h3>

        <strong><div class="complete-result"></div></strong>

        @foreach (var Job in Model.Jobs)
        {
            if (@Job.Completed == true)
            {
                <h5>@Job.Title</h5>
            }
        }
        
        

        @if (Model.Avaliable)
        {
            <h4>You aren't working on any jobs yet!</h4>
            <h4>Please @Html.ActionLink("select a job", "Index", "Jobs").</h4>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}